.er-sub-no-license-available {
  color: rgb(138, 136, 136);
}

/*
Temp fix for ckeditor toolbar overflow when editing pargraph with editor in admin
https://www.drupal.org/project/drupal/issues/3332416 */
.ck.ck-toolbar.ck-toolbar_grouping>.ck-toolbar__items {
  flex-wrap: wrap !important;
}

/* Display fieldset with two field on the */
.fieldset.fieldset-inline {
  margin-right: 25px;
}

.fieldset-inline .fieldset__wrapper {
  min-width: 250px;
  display: flex;
  justify-content: space-between;
}

.details-inline .details-wrapper {
  /* max-width: 250px; */
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}

.details-inline .claro-details__description {
  width: 100%;
}
